* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: absolute;
    width: 100%;
    overflow-x: hidden;
    font-family:  Open Sans, Poppins, sans-serif;
     
}
body::after {
    content: "";
    background-image: url(./assets/images/bg-tablet-pattern.svg) ;
    background-repeat: no-repeat;
    background-position: 105% -15% ;
    background-size: 500px; 
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}
p {
    color: gray;
}
h1, h2, h3, h4, h5, h6 {
    color: #1f2437;
}
/* ===========This is the styling for the Navigation Bar============= */
nav {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    padding: 15px 50px;
}
a {
    padding-left: 15px;
  
    padding: 10px ;
    
    transition: all 1s;
    position: relative;
}
  


nav button {
    background-color: orangered;
    padding: 5px 9px;
    border: none;
    border-radius: 15px;
    color: white;
    position: relative;
    z-index: 2;
} 

.header-img img {
    height: 300px;
    position: relative;
    z-index: 2;
    
}
/* ========This is the styling for the header======== */
header {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}
header h1 {
    font-size: 4vw;
}
header p {
    font-size: 1.1vw;
    margin: 10px 0;
}
header button {
    background-color: orangered;
    padding: 5px 9px;
    border: none;
    border-radius: 15px;
    color: white;
}
.header-img {
    width: 400px;
    /* background: url(./assets/images/bg-tablet-pattern.svg) center no-repeat ;
    background-size: cover; */
    
    position: absolute;
    top: -1px;
    right: -20px;
    margin: 70px;
}
/* =====This is the styling for the main===== */
main {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    margin:60px 0;
}
.one p {
    font-size: 1.1vw;
}
.one h3 {
    font-size: 2vw;
}
.words{
    position: relative;
}
.one+section h5 {
    font-size: 1.1vw;
}
.one+section p {
    font-size: 1vw;
    
}
.no-btn {
    padding:5px 8px;
    color: white;
    border: none;
    background-color: orangered;
    border-radius: 15px;
    position: relative;
    right: 40px;
    top: 25px;
    text-align: center;   
}
.aside>h3 {
    text-align: center;
    font-size:2.2vw ;
    margin: 100px;
}
aside {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    position: relative;
}
aside img {
    width: 15vw;
    height: auto;
    margin: 0 70px;
    position: relative;
    z-index: 2;
}
aside h6 {
    text-align: center;
    font-size: 1vw;
}
aside p {
    text-align: center;
    font-size: 1;
    
}
hr {
    margin-top: 70px;
}
hr ~ button{
    background-color: orangered;
    padding: 5px 9px;
    border: none;
    border-radius: 15px;
    color: white;
    margin: 10px 700px;
}
.aside::after{
    content: "";
    background-image: url(./assets/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position:-18% 60%  ;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
}
/* ===this the styling for the top footer=== */
.top-footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: orangered;
    margin-top: 40px;
}
.top-footer h3 {
    color: white;
    font-size: 1.5vw;
    

}
.top-footer button {
    height: 30px;
    padding: 5px 9px;
    background-color: white;
    color: orangered;
    border: none;
    border-radius: 15px;
    margin: auto 20px;
    position: relative;
}
/* ===this the styling for the bottom footer=== */
.bottom-footer {
    background-color: rgb(35, 32, 32);
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 40px 50px;
}
.bottom-footer input {
    border: none;
    border-radius: 15px;
    height: 25px;
    padding: 2px 8px;
}
.bottom-footer button {
    height: 25px;
    border: none;
    border-radius: 10px;
    padding:2px 8px ;
    background-color: orangered;
    color: white;
}
.bottom-footer p {
    color: white;
}


